
.headerContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url('./media/header/telf04.webp') center/cover no-repeat;
    height: 100vh;
}

.headerContainer img {
        display: none;
    }

/** Imagen de fondo de la cabecera */
.headerContainer::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    pointer-events: none;
}

.headerContainer img,
.headerDescription {
    position: relative;
    z-index: 2;
}

/* ****************************** */

.headerDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (min-width: 1200px) {
    .headerContainer {
    background: url('./media/header/telf07.webp') center/cover no-repeat;
    }
    .headerContainer img {
        display: flex;
        border-radius: 50%;
        box-shadow: #f5f5f5 0px 0px 10px 0px;
        width: 70dvh;
        height: 70dvh;
        object-fit: cover;
        padding: 10px;
    }
}