@import "tailwindcss";
@import "transition-style";

:root {
    /** Tipografia y diseño */
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /** Esquema de colores */
    color-scheme: light dark;
    color: var(--black);
    background: var(--bg-gradient);

    /** Optimización de fuentes */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /** Variables globales */
    --bg-gradient: radial-gradient(125% 125% at 50% 10%, #f5f5f5 20%, #ff80c0 100%);
    --bg-gradient-accent: radial-gradient(125% 125% at 50% 10%, #f5f5f5 20%, #ff80c0 100%);
    /*! Cambiar color primario */
    --primary-color: #ff80c0;
    /*! Cambiar color secundario */
    --secondary-color: #f5f5f5;
    --white: #f5f5f5;
    --black: #141414;
    --accent-color: #e1fe6a;
    --font-size-base: 16px;
    --spacing-base: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scrollbar-color: #ffb3e3 rgb(20, 20, 20);
    scrollbar-width: thin;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

button, a {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    font-weight: 600;
}

h1,h2 {
    font-family: 'Tiro Tamil', serif;
}

video {
    aspect-ratio: 3/4;
    object-fit: cover;
}

.tinos {
    font-family: 'Tinos', serif;
}

.font-serif, li, p {
    font-family: 'Tinos', serif;
}

.accent {
    font-family: 'Cormorant Variable', serif;
}

.title-accent {
    font-family: 'Lobster', system-ui;
}

.title-font {
    font-family: 'Playfair Display Variable', serif;
}

/** Estilos tailwind personalizados */
.title {
    @apply text-5xl md:text-7xl font-extrabold mb-5 md:mb-10 xl:mb-15 2xl:mb-10 tracking-tighter leading-tight;
}

.title-small {
    @apply text-4xl md:text-6xl mb-5 md:mb-10 xl:mb-15 2xl:mb-10 tracking-tighter leading-tight;
}

.subtitle {
    @apply text-xl md:text-2xl font-semibold mb-4;
}

.button {
    @apply mb-5 bg-lime-200 rounded-2xl border-1 border-black py-2 px-3.5 font-bold md:text-xl hover:scale-105 transition-transform duration-500
}

.bg-accent {
    background: radial-gradient(125% 125% at 50% 25%, #fdeaf4 5%, #d9f99d 100%);
}

.bg-accent-2 {
    background: radial-gradient(125% 125% at 50% 10%, #fdeaf4 30%, #f9a8d4 100%)
}

.bg-footer{
    background: radial-gradient(125% 125% at 50% 150%, #fdeaf4 5%, #fbc3e1 100%)
}

/* Animations */
/* Circulo entrando en el centro */
@keyframes circle-in-center {
    from {
        clip-path: circle(0%);
    }
    to {
        clip-path: circle(125%);
    }
}

[transition-style="in:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

/* Cuadrado en el centro */
@keyframes square-in-center {
    from {
        clip-path: inset(100% 100% 100% 100%);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

[transition-style="in:square:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
}

/* Swoop desde el círculo */
@keyframes in-circle-swoop {
    from {
        clip-path: var(--circle-top-left-out);
    }
    to {
        clip-path: var(--circle-bottom-right-in);
    }
}

[transition-style="in:custom:circle-swoop"] {
    --transition__duration: 10s;
    animation-name: in-circle-swoop;
}

/* Animación de entrada de componente */
@keyframes showComponent {
    from {
        opacity: 0%;
        scale: 25%;
    } to {
        opacity: 1;
        scale: 100%;
    }
}


.componentAnimation {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation: showComponent 1s both;
    animation-timeline: --image;
    animation-name: showComponent;

    animation-range: entry 15% cover 35%;
    animation-fill-mode: both;
}